<p>
	<strong> Избранное </strong>
</p>
<% @client.favorite.products.each do |product| %>
	
<table>
  <tr class="total_line", data-favorite_id1 = "<%= product.id  %>">
	<td id = "total-line-items"><%= product.title%></td>
	<td><%= form_for(@client.favorite, :url => url_for(:controller => 'favorites', :action => 'destroyRef')) do |f| %>
		  <div class="actions">
            <%= f.label :id %>
            <%= text_field_tag 'product_id', product.id %>
          </div>

          <div class="actions">
            <%= f.submit %>
          </div>
      <% end %></td>
      <td><span class="deleteFavorite">Удалить</span></td>
  </tr>
</table>
<% end %>