<div class="list-products">
<div class="pseudo-list-products">
  <ul>
  <% cache ['store', Product.latest] do %>
    <% @products.each do |product| %>
      <% cache ['entry', product] do %>

      <li>
        <%= link_to product, :class => "link-product" do %>
          <%= image_tag(product.image_url) %>
          <h3><%= product.title %></h3>
          <div class="price">
            <%= number_to_currency(product.price) %>
          </div><!--/price_line-->
          <div class="details">
            <%= sanitize(product.description) %>
          </div>
        <% end %>

        <%= button_to line_items_path(product_id: product), remote: true, class: "add-to-cart button middle_green" do %>
          <i class="fa fa-shopping-cart"></i>   Add to cart
        <% end %>
        <%= button_to favorites_path(product_id: product), remote: true, class: "add-to-favorites button middle_green" do %>
          <i class="fa fa-heart"></i>
        <% end %>
        
        <form action="/favorites" class="create_favorite"  method="post" %>
              <label for="favorite_id">Id</label><br>
              <input id="favorite_id" name="favorite_id" type="text" value="<%= @client.favorite.id %>" ><br>  <label for="product_id">Id</label><br>
              <input id="product_id" name="product_id" type="text" value="<%= product.id %>" ><br>
              <input type="submit">            
        </form>

      </li><!--/entry-->
      
      <% end %>
    <% end %>
  <% end %>
  </ul>
</div><!--/pseudo-list-products-->
</div><!--/list-products-->